* {
    padding: 0;
    margin: 0;
}

header{
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

header h1{
    font-family: "Montserrat", sans-serif;
    margin-top: 20px;
    padding: 5px;
}

header p {
    font-family: "Montserrat", sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
}

.inicio{
    text-align: center;
}

h2 {
    font-family: "Montserrat", sans-serif;
    margin-top: 10px;
    padding: 10px;
}

p {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px; 
    display: inline-block;
}

.botaoBlack {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 60px;
    border-color: transparent;
    cursor: pointer;
}

img {
    height: 600px;
}

.catalogo{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 40px;
}

.botaoAzul {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(21, 89, 161);
    color: white;
    padding: 10px;
    border-radius: 60px;
    border-color: transparent;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.final{
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-top: 40px;
}

footer {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    margin-top: 50px;
}